USE [master]
GO
/****** Object:  Database [DNASystem]    Script Date: 6/18/2025 10:05:28 PM ******/
CREATE DATABASE [DNASystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DNASystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DNASystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DNASystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DNASystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DNASystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DNASystem]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[bookingID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[staffID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[address] [nvarchar](55) Null,
	[method] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [nvarchar](10) NOT NULL,
	[managerID] [nvarchar](10) NULL,
	[title] [nvarchar](255) NULL,
	[date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoiceID] [nvarchar](10) NOT NULL,
	[bookingID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[invoicedetailID] [nvarchar](10) NOT NULL,
	[invoiceID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoicedetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kit]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kit](
	[kitID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[staffID] [nvarchar](10) NULL,
	[bookingID] [nvarchar](10) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
	[receivedate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [nvarchar](10) NOT NULL,
	[rolename] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceID] [nvarchar](10) NOT NULL,
	[type] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[description] [text] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[resultID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[staffID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[bookingID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[resultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/18/2025 10:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [nvarchar](10) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[gender] [varchar](10) NULL,
	[roleID] [nvarchar](10) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[birthdate] [date] NULL,
	[image] [varchar](255) NULL,
	[address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([managerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([invoiceID])
REFERENCES [dbo].[Invoice] ([invoiceID])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
USE [master]
GO


INSERT INTO [dbo].[Role] (roleID, rolename)
VALUES ('R01', N'Admin');

INSERT INTO [dbo].[Role](roleID, rolename)
VALUES ('R02', N'Staff');

INSERT INTO [dbo].[Role] (roleID, rolename)
VALUES ('R03', N'Customer');


INSERT INTO Users (userID, username, password, fullname, gender, roleID, email, phone, birthdate, image, address)
VALUES ('U01', 'admin', 'admin123', N'Nguyễn Văn An', N'Male', 'R01', 'admin@gmail.com', '0909123456', '1985-01-01', 'admin.jpg', N'123 Đường Lý Thường Kiệt, Quận 10, TP. Hồ Chí Minh');

INSERT INTO Users (userID, username, password, fullname, gender, roleID, email, phone, birthdate, image, address)
VALUES ('U02', 'staff1', 'staff123', N'Trần Thị Bích Ngọc', N'Female', 'R02', 'staff1@gmail.com', '0911123456', '1990-02-02', 'staff1.jpg', N'45/2 Phan Đình Phùng, Q.Phú Nhuận, TP.HCM');

INSERT INTO Users (userID, username, password, fullname, gender, roleID, email, phone, birthdate, image, address)
VALUES ('U03', 'cust1', 'cust123', N'Lê Minh Tuấn', N'Male', 'R03', 'cust1@gmail.com', '0922123456', '1995-03-03', 'cust1.jpg', N'789 Nguyễn Huệ');










INSERT INTO Service (serviceID, type, name, price, description, image)
VALUES ('S01', N'Huyết thống', N'Xét nghiệm cha con', 2500000.00, N'Xác định quan hệ huyết thống giữa cha và con', 'cha_con.jpg');

INSERT INTO Service (serviceID, type, name, price, description, image)
VALUES ('S02', N'Huyết thống', N'Xét nghiệm mẹ con', 2400000.00, N'Xác định quan hệ huyết thống giữa mẹ và con', 'me_con.jpg');

INSERT INTO Service (serviceID, type, name, price, description, image)
VALUES ('S03', N'Huyết thống', N'Xét nghiệm anh chị em ruột', 2600000.00, N'Xác minh quan hệ anh chị em ruột', 'anh_chi_em.jpg');






