USE [master]
GO
/****** Object:  Database [DNASystem]    Script Date: 7/11/2025 11:59:39 AM ******/
CREATE DATABASE [DNASystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DNASystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DNASystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DNASystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DNASystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DNASystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DNASystem]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[bookingID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[staffID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[address] [nvarchar](100) NULL,
	[method] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
 CONSTRAINT [PK__Booking__C6D03BEDBC0383B6] PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [nvarchar](10) NOT NULL,
	[managerID] [nvarchar](10) NULL,
	[title] [nvarchar](255) NULL,
	[date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
 CONSTRAINT [PK__Course__2AA84FF1FB1A1BF7] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoiceID] [nvarchar](10) NOT NULL,
	[bookingID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[invoicedetailID] [nvarchar](10) NOT NULL,
	[invoiceID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoicedetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kit]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kit](
	[kitID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[staffID] [nvarchar](10) NULL,
	[bookingID] [nvarchar](10) NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[receivedate] [datetime] NULL,
 CONSTRAINT [PK__Kit__98C65C8031FC837A] PRIMARY KEY CLUSTERED 
(
	[kitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatives]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatives](
	[relativeID] [nvarchar](10) NOT NULL,
	[userID] [nvarchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NOT NULL,
	[gender] [varchar](10) NULL,
	[birthdate] [date] NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](100) NULL,
	[bookingID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[relativeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [nvarchar](10) NOT NULL,
	[rolename] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceID] [nvarchar](10) NOT NULL,
	[type] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[description] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
 CONSTRAINT [PK__Service__4550733F121AD4A3] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[resultID] [nvarchar](10) NOT NULL,
	[customerID] [nvarchar](10) NULL,
	[staffID] [nvarchar](10) NULL,
	[serviceID] [nvarchar](10) NULL,
	[bookingID] [nvarchar](10) NULL,
	[date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK__TestResu__C6EADC7BE2440D27] PRIMARY KEY CLUSTERED 
(
	[resultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/11/2025 11:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [nvarchar](10) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[gender] [varchar](10) NULL,
	[roleID] [nvarchar](10) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[birthdate] [date] NULL,
	[image] [varchar](255) NULL,
	[address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__custome__2739D489] FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__custome__2739D489]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__service__282DF8C2] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__service__282DF8C2]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__staffID__29221CFB] FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__staffID__29221CFB]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__managerI__2A164134] FOREIGN KEY([managerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__managerI__2A164134]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__servic__2BFE89A6] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__servic__2BFE89A6]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__Invoice__booking__2CF2ADDF] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__Invoice__booking__2CF2ADDF]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([invoiceID])
REFERENCES [dbo].[Invoice] ([invoiceID])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__servi__2EDAF651] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK__InvoiceDe__servi__2EDAF651]
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD  CONSTRAINT [FK__Kit__bookingID__31B762FC] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[Kit] CHECK CONSTRAINT [FK__Kit__bookingID__31B762FC]
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD  CONSTRAINT [FK__Kit__customerID__2FCF1A8A] FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Kit] CHECK CONSTRAINT [FK__Kit__customerID__2FCF1A8A]
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD  CONSTRAINT [FK__Kit__staffID__30C33EC3] FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Kit] CHECK CONSTRAINT [FK__Kit__staffID__30C33EC3]
GO
ALTER TABLE [dbo].[Relatives]  WITH CHECK ADD  CONSTRAINT [FK_Relatives_Booking] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[Relatives] CHECK CONSTRAINT [FK_Relatives_Booking]
GO
ALTER TABLE [dbo].[Relatives]  WITH CHECK ADD  CONSTRAINT [FK_Relatives_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Relatives] CHECK CONSTRAINT [FK_Relatives_Users]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__booki__3587F3E0] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Booking] ([bookingID])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__booki__3587F3E0]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__custo__32AB8735] FOREIGN KEY([customerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__custo__32AB8735]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__servi__339FAB6E] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__servi__339FAB6E]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__staff__3493CFA7] FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__staff__3493CFA7]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
USE [master]
GO
