# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb
*.apphost.exe

# Visual Studio files
.vs/
*.csproj.user

# Others
*.cache
*.sourcelink.json
